.main-section__news-list{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include laptop {
      justify-content: space-around;
   }

}

.news-list__post{
	width: 280px;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}
.news-list__post:hover{
	box-shadow: 0px 10px 10px rgba(114, 111, 111, 0.25);
}

.news-post__img-holder{
	width: 100%;
	height: 179px;
	background-color: rgb(184, 149, 155);
}

.news-post__img-holder img{
	display: block;
	width: 100%;
	height: 100%;
}



.news-post__info{
	padding: 18px 20px 65px 20px;
	/* position: relative; */
	height: auto
}
.news-post__title a{
	font-size: 20px;
	font-weight: 700;
	color: $title-color;
} 
.news-post__desc{
	margin-top: 15px;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: $text-content-color;
	margin-bottom: 15px;
	
}
.news-post__history{
	position: absolute;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	bottom: 20px;
}
.news-post__history span{
	display: block;
}
.date-block__date{
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 10px;
	color: $text-content-color;
}
.date-block__viewing{
	font-size: 13px;
	font-weight: 400;
	color: $viwing-date-color;
}

.fake-item {
	width: 280px;
}


